*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    /* background-color: rgb(34, 31, 31); */
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #181616;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 999;
}

.innerSection{
    margin-top: 6rem;
    height: 38rem;
    width: 90%;
    background-color: hwb(0 87% 12% / 0.894);
    border-radius: 15px;
    padding: 1.5rem;
}


.nameDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.firstNameClass, .lastNameClass,
em, .emailInput, .message,
.consentText{
    color: rgba(17, 55, 17, 0.92);
}

.firstNameInput, .lastNameInput{
    height: 2rem;
    width: 17rem;
    outline: none;
    margin-top: 1rem;
    outline: none;
}

.emailDiv, .messageSection, .consentMessage{
    padding: 1rem;
}

.emailInputBox{
    height: 2rem;
    width: 100%;
}

.messageTextBox{
    height: 10rem;
}

.messageBox{
    width: 100%;
}

.Submit{
    height: 2.5rem;
    width: 90%;
    background-color: rgba(11, 88, 43, 0.908);
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Submit:hover{
    background-color: rgba(4, 38, 18, 0.908);
    transition: 500ms ease-in;
}

.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logo{
    margin-right: auto;
}

.logoText{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(67, 56, 56);
   transition: 500ms ease-in-out;
}

.logoText:hover{
    color: rgb(67, 56, 56);
   transition: 500ms ease-in-out;
}

nav ul{
    display: flex;
    gap: 2rem;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.hamMenu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    display: none; /* Hide by default */
}

.contactDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px){
    header{
        width: 100%;
        position: fixed;
    }
    .hamMenu{
    display: block;
    }
    .offScreenMenu{
        background-color: rgb(34, 37, 49);
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        padding-top: 5rem;
        right: -450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
    }
    .offScreenMenu ul{
        display: grid;
    }
    .offScreenMenu.active{
        right: 0;
    }
    .hamMenu span{
        height: 5px;
        width: 100%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
        cursor: pointer;
    }
    .hamMenu span:nth-child(1){
        top: 25%;
    }
    .hamMenu span:nth-child(3){
        top: 75%;
    }
    .hamMenu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .hamMenu.active span:nth-child(2){
       opacity: 0;
    }
    .hamMenu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .nameDiv{
        display: flex;
        flex-direction: column;
    }
}

footer{
    height: auto;
    width: 100%;
    background-color: #2e1a47;
    margin-top: 5rem;
}

.mediaLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.fB, .yt, .gitImage{
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.twitter{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease;
}

.twitter:hover, .fB:hover, .yt:hover, .gitImage:hover {
    background-color: #ff4b2b;
    filter: invert(100%);
    transition: 500ms ease-in;
}

.footerNavLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.copyDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090310f3;
    height: 3rem;
}

.copyrightMessage{
    color: #fff;
}